<div>
  <div class="img-banner">
    <%= image_tag "apphpotter2.jpg", alt:"harry-potter-banner", class:"d-block w-100 h-75 link-a"%>
  </div>

    <br>

  <div class="container">
    <% @characters.sample(3).each do |character| %>
      <%= image_tag character.image_url, alt:"Characters", class:"d-block w-25 link-a"%>
      <%= link_to "Ver más", characters_path %> <br><br>
    <% end %>
  </div>
</div>
