<div>
  <div class="container">
    <% @characters.each do |character| %>
      <%= image_tag character.image_url, alt:"Characters", class:"d-block w-25 link-a"%>
      <%= character.name %>
      <%= link_to "Ver más", character_path(character.id) %> <br><br>
    <% end %>
  </div>
</div>
